.markdown-preview-view {
    text-align: justify;
}

.markdown-source-view .cm-content {
    text-align: justify;
}

img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}
